<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tez</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>upi</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app uses notifications to remind you about donations and transactions.</string>
</dict>
</plist>
